{% extends 'baseTemplates/base.html' %}

{% block head %}
    <title>All Ingredients</title>
{% endblock head %}

{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
        {% for ingredient in data %}
            <tr>
                <td>{{ ingredient.name |safe}}</td>
                <td>{{ ingredient.getCategory |safe}}</td>
                <td>
                    {% for prop in ingredient.getProperties %}
                        {{prop |safe}}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}