{% extends 'baseTemplates/base.html' %}

{% block head %}
    <title>Ingredient List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ingredients/randomThings.css' %}">
{% endblock head %}

{% block content %}
    {% include "baseTemplates/components/navBar.html" %}
    <div class="wholeContainer">
        <div class="gameFloater">
            Want to apply custom rules or ingredients? <a href="{% url 'customGame' %}">Click here!</a>
        </div>
        <h2>The random list of ingredients is:</h2>
        <h3>Staples</h3>
        <ul>
            {% if data.staple|length == 0 %}<li></li>
            {% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.staple%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Vegetables</h3>
        <ul>
            {% if data.vegetables|length == 0 %}<li></li>
            {% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.vegetables%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Protein</h3>
        <ul>
            
            {% if data.protein|length == 0 %}<li></li>
            {% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.protein%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Dairy</h3>
        <ul>
            {% if data.dairy|length == 0 %}<li></li>{% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.dairy%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Fruits</h3>
        <ul>
            {% if data.fruits|length == 0 %}<li></li>{% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.fruits%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Extras</h3>
        <ul>
            {% if data.extras|length == 0 %}<li></li>{% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.extras%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <h3>Wild Cards</h3>
        <ul>
            {% if data.wildCards|length == 0 %}<li></li>{% endif %}
            <div class="ingredientsContainer">
                {% for ing in  data.wildCards%}
                <div class="ingredient">
                    <img src="{{ ing.image.url }}" alt="">
                    <div class="ingredient_title">{{ing}}</div>
                </div>
                {% endfor %}
            </div>
        </ul>
        <p>Now go and play!</p>
        <h4>Remember the rules!</h4>
        <ul>
            <li>Create at least a main dish and dessert/second meal. Meal can be completed with side dishes and entrees.</li>
            <li>Can use up to 2 condiments, salt and water whenever deemed necessary.</li>
            <li>From the ingredients listed, you may ignore one but the other ones must be used at least once.</li>
        </ul>
    </div>
{% endblock content %}