{% extends 'baseTemplates/base.html' %}

{% block head %}
    <title>Rules</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rules.css' %}">
{% endblock head %}

{% block content %}
    {% include "baseTemplates/components/navBar.html" %}
    <div class="wholeContainer fit">
        <h1>Rules</h1>
        <ul>
            <li>Create at least a main dish and dessert/second meal. Meal can be completed with side dishes and entrees.</li>
            <li>Can use up to 2 condiments, salt and water whenever deemed necessary.</li>
            <li>From the ingredients listed, you may ignore one but the other ones must be used at least once.</li>
        </ul>
        <div class="spacer"></div>
        <h2>Attributions</h2>
        <a href="https://www.freepik.es/foto-gratis/manzanas-rojas-frescas-suaves-jugosas-enteras-perfectas-escritorio-blanco_8077501.htm#query=manzana&position=7&from_view=search&track=sph">Imagen de mdjaff</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/vaso-leche_9186777.htm#query=vaso%20leche&position=8&from_view=search&track=sph">Imagen de Racool_studio</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/deliciosos-trozos-queso_10323179.htm#query=queso&position=12&from_view=search&track=sph">Imagen de Racool_studio</a> en Freepik
        Imagen de <a href="https://www.freepik.es/foto-gratis/surtido-sabroso-yogur-cuchara-madera_16695380.htm#query=yogur&position=1&from_view=search&track=sph">Freepik</a>
        <a href="https://www.freepik.es/psd-gratis/maqueta-plato-mantequilla-ceramica-tapa-bambu-perspectiva_16145355.htm#query=mantequilla&position=1&from_view=search&track=sph">Imagen de originalmockup</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/huevos-marrones_7092861.htm#query=huevo&position=2&from_view=search&track=sph">Imagen de timolina</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/setas-blancas-taza-madera-sobre-trozo-arpillera_15454052.htm#query=setas&position=24&from_view=search&track=sph">Imagen de azerbaijan_stockers</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/especias-hierbas_1129593.htm#query=especias&position=0&from_view=search&track=sph">Imagen de topntp26</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/varios-tipos-azucar-azucar-moreno-blanco-sobre-hormigon-vista-superior_6144424.htm#query=azucar&position=2&from_view=search&track=sph">Imagen de azerbaijan_stockers</a> en Freepik
        Imagen de <a href="https://www.freepik.es/foto-gratis/miel-casera-tarro-vista-frontal_6108675.htm#query=miel&position=3&from_view=search&track=sph">Freepik</a>
        <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
        <a href="https://www.freepik.es/vector-gratis/saco-patatas-estilo-dibujos-animados-aislado_18542643.htm#query=patatas&position=15&from_view=search&track=sph">Imagen de brgfx</a> en Freepik
        <a href="https://www.freepik.es/vector-gratis/composicion-realista-trigo_6128967.htm#query=trigo&position=0&from_view=search&track=sph">Imagen de macrovector</a> en Freepik
        <a href="https://www.freepik.es/vector-gratis/conjunto-iconos-verduras_5971109.htm#query=vegetales&position=0&from_view=search&track=sph">Imagen de macrovector</a> en Freepik
        <a href="https://www.freepik.es/foto-gratis/puesto-verduras-frescas-mercado-frutas_4438342.htm#query=frutas&position=0&from_view=search&track=sph">Imagen de kstudio</a> en Freepik
    </div>
{% endblock content %}