<!--Css in base.css. TODO: Move here inside style tag-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% load static %}
<div class="titleContainer">
    <h2>RandFIng</h2>
    <h4>The best ingredient is fun!</h4>
    <div id="titleCarousel" class="carousel slide" data-ride="carousel" data-interval="4500">
        <div class="carousel-inner">
            <img src="{% static 'CarouselBorder.png' %}" alt="" class="border">
            <div class="item active ">
                <img src="{% static 'testImage.jpg' %}" alt="" class="d-block w-100">
            </div>
            <div class="item">
                <img src="{% static 'testImage.jpg' %}" alt="" class="d-block w-100">
            </div>
            <div class="item">
                <img src="{% static 'testImage.jpg' %}" alt="" class="d-block w-100">
            </div>
        </div>
    </div>
</div>

<script>
    $('#titleCarousel').on('slide.bs.carousel', function (e) {
        if (e.type == "slide" && e.direction == "right" && e.relatedTarget.className != "item"){
            return e.preventDefault();
        }
        })
</script>